asgiref==3.7.2
colorama==0.4.6
django==4.2.3
django-jazzmin==2.6.0
django-multiselectfield==0.1.12
django-tinymce4-lite==1.8.0
jsmin==3.0.1
pillow==10.0.0
pypng==0.20220715.0
python-dotenv==1.0.0
qrcode[pil]==7.4.2
reportlab==4.0.4
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
whitenoise==6.5.0