{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="aboutshowcase">
    <div class="my_container">
        <div class="row">
            <div class="col-lg-1"></div>

            <div class="col-lg-5">
                <h1>ABOUT <br> US</h1>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <img src="{{page_data.banner.url}}" alt="OSH Blog Icon" height="400" class="img-responsive img-fluid">
            </div>
        </div>
    </div>
</section>
<div class="abouttext">
    <div class="my_container">
        <div class="row">
            <div class="col-lg-12">
                <p>{{page_data.main_text|safe}}
                </p>
            </div>
        </div>
    </div>
</div>
<section id="aboutmain">
    <div class="my_container">
        <div class="row">
            <div class="col-lg-4 firstsecabout">
                <div class="aboutvision">
                    <h5>VISION</h5>
                    <p>{{page_data.vision|safe}}</p>
                </div>

                <div class="aboutvision">
                    <h5>Mission</h5>
                    <p>{{page_data.mission|safe}}</p>
                </div>

                <div class="aboutvision">
                    <h5>OBJECTIVE</h5>
                    <p>{{page_data.objective|safe}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                {% for member in team_members %}
                <div class="row" data-aos="zoom-in-up">
                    <div class="col-lg-6">
                        <img src="{% static 'images/startupimgmain.jpg' %}" alt="OSH About"
                            class="img-fluid img-responsive thepic">
                        <h6>JOSHUA O. BABAWALE</h6>
                        <h6>Team Lead</h6>
                        <span><img src="{% static 'images/aboutgithub.png' %}" alt="aboutgithub"
                                class="img-responsive img-fluid"></span>
                        <span><img src="{% static 'images/aboutbehance.png' %}" alt="aboutbehance"
                                class="img-responsive img-fluid"></span>
                        <span><img src="{% static 'images/aboutlinkedin.png' %}" alt="aboutlinkedin"
                                class="img-responsive img-fluid"></span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>LOCATION</h5>
                        <p>Osun Startup Hub,
                            Tech Drive way,
                            Osogbo,
                            Osun State.</p>
                    </div>
                    <div class="col-lg-12">
                        <h5>MAIL US</h5>
                        <p>osunstartuphub@
                            gmail.com</p>
                    </div>
                    <div class="col-lg-12">
                        <span><img src="{% static 'images/logo.png' %}" alt="aboutgithub"
                                class="img-responsive img-fluid aboutlogopic"></span>
                    </div>
                    <div class="col-lg-12">
                        <span><img src="{% static 'images/logo.png' %}" alt="aboutgithub"
                                class="img-responsive img-fluid aboutlogopic"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}