{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .btn {
        background-color: #FF035F;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 12px 28px;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 20px;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .btn:hover {
        color: white;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <h1 class="mb-4">Summer Music Festival</h1>

            <!-- Event Image -->
            <img src="{{event.image.url}}" class="img-fluid rounded mb-4" alt="Event Image">

            <!-- Event Details -->
            <h3>Event Details</h3>
            <ul class="list-unstyled">
                <li><strong>Time:</strong> {{event.start_time}} - {{event.end_time}}</li>
                <li><strong>Location:</strong> {{event.location}}</li>
            </ul>

            <!-- Event Description -->
            <h3>Description</h3>
            <p>
                {{event.description|safe}}
            </p>
            <a href="{% url 'events:registration' event.slug %}" class="btn">Register Now</a>
        </div>
    </div>
</div>
{% endblock content %}