{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{reg.event.full_name}} | {{reg.full_name}} | Osun Startup Hub</title>
</head>

<body>

    <section id="ticket" class="my-5">
        <div class="container-fluid p-4">
            <div class="card shadow">
                <div class="image-container">
                    <img src="{{reg.event.image.url}}" class="card-img" alt="...">
                    <div class="dark-overlay"></div>
                </div>
                <div class="card-img-overlay">
                    <div class="row">
                        <div class="col-md-8">
                            <img style="width: 80px;" src="{% static 'images/logo.png' %}" alt="">
                            <h1 class="card-title mt-0">{{reg.event.title}}</h1>
                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <p class="card-text"><span class="font-weight-light">Name: </span>{{reg.full_name}}
                                    </p>
                                </div>

                                {% if reg.organization %}
                                <div class="col-md-6">
                                    <p class="card-text"><span class="font-weight-light">Organization:
                                        </span>{{reg.organization|capfirst}}</p>
                                </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <p class="card-text"><span class="font-weight-light">Registered At:
                                        </span>{{reg.created_at}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text"><span class="font-weight-light">Ticket
                                            Start Date/Time: </span>{{reg.event.start_time}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text"><span class="font-weight-light">Ticket
                                            End Date/Time: </span>{{reg.event.end_time}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="qr_code" src="{{reg.qr_code.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>